{% extends "public/blog.html" %}
{% block subhead %}
    <title>BLOG | Will Code For Coffee</title>
{% endblock %}
{% block heading %}
    <h1>The DOCS Pages</h1>
{% endblock %}
{% block focus %}
    <p>Partially out of humor, this portion of the site is styled like a technical documentation portal. Why? Well, why not? There will be some actual technical documentation here in the future. More than likely, the variety in the navigation panel will be condensed, too. I'll eventually put all of the non-IT elements under a single top-level category but right now it's broken out like it is to make design easier, and it doubles as a "scratch pad" for some of the content I want to include.</p>
    <p>What you will find here is actually a collection of my written work--and much of it <em>is</em> technical documentation but that's not all that's here. If you look at the contents on the left, you'll notice a few sections that are very <em>non</em>-technical.</p>
    <p>There's a lot more to me than just technology, and you'll find some glimpses into the rest of my world in these writings.</p>
{% endblock %}
{% block support %}
    <p>If you would like to submit content to the DOCS pages, please visit the <a href="{{ url_for('contact') }}">Contact</a> page to make a submission.</p>
{% endblock %}
{% block footing %}
{% endblock %}