/**********************************
    NAME:   docs.css
    DESC:   styles for the tech
            docs section of the
            site
**********************************/
/* grid elements */
#docs { /* grid templates */
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 50px auto 1.4em;
    grid-gap: 10px;
    grid-template-areas:
        "sidebar heading heading"
        "sidebar focus support"
        "sidebar footing footing";
}
.sidebar {
    grid-area: sidebar;
}
.sidebar-nav {
    margin: 0;
    padding: 0;
}
.sidebar-nav-link {
    margin: 0;
    padding: 4px 0;
}
.side-nav-tier-one {
    padding-left: 0;
}
.side-nav-tier-two {
    padding-left: 12px;
}
.heading {
    grid-area: heading;
}
.focus {
    grid-area: focus;
    text-align: justify;
}
.support {
    grid-area: support;
    padding: 0 8px;
    border: 1px solid var(--color-beta);
}
.footing {
    grid-area: footing;
}
/* Responsive Design */
@media screen and (max-width: 700px) {
    #docs {
        display: flex;
        flex-direction: column;
    }
}