{% extends "layout.html" %}
{% block head %}
    <title>ABOUT | Will Code For Coffee</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bio.css') }}">
{% endblock %}
{% block content %}
    <div class="about">
        <h1>About</h1>
        <p>Welcome to the about pages. Far from any definition of "normal" (even for an IT guy), I enjoy being a little bit of an enigma.</p>
        <p>I was born in Florida, and grew up in Hernando County, a little less than an hour north of Tampa and St. Petersburg. I showed an early aptitude for technology, spirituality, and music and these three elements still make up the bedrock of this thing called "me." My twenties were a time of struggles, trials, and triumphs and I somehow lived to tell the tale. By far, the greatest event of that period was meeting my wife (and my stepson; more on the kids later!). Now in my thirties--well, we'll get to that...</p>
        <p class="construction-note"><strong><u>Construction Note:</u> Not that I'm ignoring this part of the site, but I'm going to leave this section to populate last. Since this is all just personal info about me, and there isn't anything of substance (at least, not the type of substance any visitors would be looking for), this will be the last part of the site that gets populated. Until then, if there's anything you really wanna know, feel free to contact me. :-)</strong></p>
    </div>
{% endblock %}